<!DOCTYPE HTML>
<html ng-app="Angello">
<head>
  <meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascripts/vendor/angular.js"></script>
  <script src="javascripts/app.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/app.css">

  <title>Angello</title>
</head>
<body>
  <div ng-controller="MainCtrl">

    <div class="span4 sidebar-content">
      <h2>Stories</h2>
      <div class="story" ng-repeat="story in stories" ng-click="setCurrentStory(story)">
        <h4>{{story.title}}</h4>
        <p>{{story.description}}</p>
      </div>
      <br>
      <a class="btn" ng-click="createStory()">
        <i class="icon-plus"></i>
      </a>
    </div>

    <div class="span6 body-content">
      <h2>Story</h2>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputTitle">Title</label>
          <div class="controls">
            <input id="inputTitle" type="text" placeholder="Title" ng-model="currentStory.title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputDescription">Description</label>
          <div class="controls">
            <textarea id="inputDescription" placeholder="Description" rows="3" ng-model="currentStory.description">
            </textarea>
          </div>
        </div>
      </form>
    </div>

  </div>


</body>
</html>